<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Signup Page</h2>
    <form method="POST" action="/signup">
        <label>Username:</label><br>
        <input type="text" name="username" required><br><br>
        
        <label for="vehicle_number">Vehicle Number:</label><br>
        <input type="text" id="vehicle_number" name="vehicle_number" required><br><br>

        <label for="contact">Contact :</label><br>
        <input type="text" id="contact" name="contact" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
